<div class="preview-container shadow-darker">
  <div class="preview-container__header" [ngStyle]="{ 'background-image': 'url(' + coverMedia + ')' }">
    <div class="overlay-container"></div>
    <div class="profile-name">{{ profileName }}</div>
    <div>
      <div class="profile-info-image d-flex">
        <img [src]="profileMedia" alt="" *ngIf="profileMedia">
        <div *ngIf="!profileMedia" class="profile-media-placeholder">
          <i class="las la-store-alt"></i>
        </div>
        <div class="profile-info-actions">
          <div class="d-flex justify-content-between" style="padding: 2px 10px 5px 10px;">
            <div class="number">
              <div class="integer">392</div>
              <div class="label">Produkter</div>
            </div>
            <div class="number">
              <div class="integer">10.827</div>
              <div class="label">Følgere</div>
            </div>
            <div class="number">
              <div class="integer">21</div>
              <div class="label">Følger</div>
            </div>
          </div>
          <div class="d-flex">
            <div class="msg-button">Beskeder</div>
            <div class="msg-button">Ordrer</div>
          </div>
        </div>
      </div>
      <div class="bio">{{ bio }}</div>
    </div>
  </div>
  <div class="preview-container__content p-20">
    <product-group-horizontal [headline]="'Nyheder fra New Balance'"></product-group-horizontal>
  </div>

</div>