<h2>Indsigt</h2>

<sl-tab-rounded [tabOptions]="tabs"></sl-tab-rounded>

<div class="insights-container d-flex">
  <div class="round-container stat-container">
    <h3>Omsætning i alt</h3>
    <div class="stat" *ngIf="!isLoading">{{ totalRevenue }} kr.</div>
    <div class="shimmer-bg" *ngIf="isLoading"></div>
  </div>

  <div class="round-container stat-container">
    <h3>Gennemsnitligt ordrebeløb</h3>
    <div class="stat" *ngIf="!isLoading">{{ averageOrderTotal | number : '1.2-2' }} kr.</div>
    <div class="shimmer-bg" *ngIf="isLoading"></div>
  </div>

  <div class="round-container stat-container">
    <h3>Afsluttede ordrer</h3>
    <div class="stat" *ngIf="!isLoading">{{ completedOrders }} ud af {{ orders.length }} </div>
    <div class="shimmer-bg" *ngIf="isLoading"></div>
  </div>
</div>