<div class="profile-list-item__container" [style.background-color]="backgroundColor">
  <div class="profile-list-item__header">
    <div class="profile-list-item__header--left">
      <div class="image-container">
        <img src="" alt="">
      </div>
    </div>
    <div class="profile-list-item__header--right" [style.color]="textColor">
      <span class="profile-name">{{ profileName }}</span>
      <span class="profile-bio">{{ bio }}</span>
    </div>
  </div>
  <div class="profile-list-item__content">
    <div class="product">

    </div>
    <div class="product">
      
    </div>
    <div class="product">
      
    </div>
    <div class="product">
      
    </div>
    <div class="product">
      
    </div>
  </div>
</div>