.profile-list-item {
  &__container {
    background: #D9DED6;
    min-height: 245px;
    padding: 20px 0 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    margin-bottom: 20px;
  }

  &__header {
    display: flex;
    gap: 10px;

    &--left {
      .image-container {
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 100%;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .profile-name {
        font-size: 15px;
        font-weight: 500;
      }

      .profile-bio {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  &__content {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    padding-bottom: 10px;

    .product {
      min-width: 120px;
      height: 160px;
      background-color: white;
      border-radius: 7px;
      margin-right: 10px;
    }
  }
}