@use '../../../theme.scss' as *;

.tabs-container {
  display: flex;
  margin: 20px 0;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 45px;
    background-color: var(--company-color);
    color: var(--text-on-company-color);
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &.active {
      color: var(--text-on-company-color-dark);
      background-color: var(--company-color-dark);
      box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    }

    &.disabled {
      background-color: #d5d5d5;
      color: #b1b1b1;
      cursor: not-allowed;  
    }
  }

  &__item:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &__item:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}