<div class="image-carousel-container">
  <div class="image-carousel-item">
    <div class="overlay-text">
      <span class="headline">Vintage er tilbage</span><br>
      <span class="title">5 items, som er mere værd nu end 1990</span>
    </div>
  </div>
  <div class="image-carousel-item">
    <div class="overlay-text">
      <span class="headline">Anden overskrift</span><br>
      <span class="title">Lorem ipsum, dolor sit amet</span>
    </div>  
  </div>
  <div class="image-carousel-item">
    <div class="overlay-text">
      <span class="headline">Velkommen til Sellino</span><br>
      <span class="title">Lad os få dig godt i gang</span>
    </div>  
  </div>
</div>
