<form #loginForm="ngForm">
  <div class="page-wrapper">
    <div class="login-container">
      <sl-input [(value)]="firstNameForm" [icon]="'las la-user'" [placeholder]="'Fornavn'" [name]="'firstname'"></sl-input>
      <sl-input [(value)]="lastNameForm" [icon]="'las la-user'" [placeholder]="'Efternavn'" [name]="'lastname'"></sl-input>
      <sl-input [(value)]="emailForm" [icon]="'las la-envelope'" [placeholder]="'E-mail'" [name]="'email'"></sl-input>
      <sl-input [(value)]="passwordForm" [icon]="'las la-key'" [placeholder]="'Adgangskode'" [name]="'password'" [password]="true"></sl-input>
      <sl-input [(value)]="repeatPasswordForm" [icon]="'las la-key'" [placeholder]="'Bekræft adgangskode'" [name]="'password'" [password]="true"></sl-input>

      <sl-checkbox (onChecked)="createProfile = $event"></sl-checkbox>
      <sl-input *ngIf="createProfile" [(value)]="profileNameForm" [icon]="'las la-store-alt'" [placeholder]="'Butikkens navn'" [name]="'profilename'"></sl-input>
      <sl-margin [px]="5"></sl-margin>
      
      <sl-button [title]="!createProfile ? 'Opret bruger': 'Opret bruger og butik'" *ngIf="!isLoading" (click)="tryRegister()"></sl-button>
      <sl-button [title]="'Tilbage til log ind'" [type]="'outline'" (click)="backToLogin()" *ngIf="!isLoading"></sl-button>
      <div class="d-flex justify-content-center" *ngIf="isLoading">
        <sl-loading></sl-loading>
      </div>
    </div>
  </div>
</form>