.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../../assets/images/SVG/background-primary.svg');
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    font-family: lobster-two;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--company-color);
    font-size: 50px;
  }
}

.login-container {
  width: 400px;
  padding: 24px;
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
}