<div class="main-container" *ngIf="!isLoading">
  <div class="d-flex justify-content-between">
    <h3>Sider ({{ profilePages.length }})</h3>
    <sl-button-round [title]="'las la-plus'" [type]="'secondary'" *ngIf="showCreateNewPage == false" (onClick)="openModal(modalTemplate)" style="margin-top: -6px;"></sl-button-round>
  </div>
  <div class="page-list-container" style="margin-bottom: 20px;" *ngIf="showCreateNewPage">
    <div class="page-list-container__item outlined rounded-4 align-items-center p-10">
      <div class="d-flex justify-content-between">
        <sl-input [icon]="'las la-tag'" [placeholder]="'Navn på ny side'" [value]="newProfileName" (valueChange)="newProfileName = $event"></sl-input>
        <div class="d-flex">
          <sl-button title="Gem" (onClick)="createNewPage()" style="margin-right: 10px;"></sl-button>
          <sl-button title="Annuller" type="outline" (onClick)="showCreateNewPage = false"></sl-button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page-list-container shadow-subtle" [ngClass]="{'selected': i == currentSelectedPage}" *ngFor="let item of profilePages; let i = index">

    <!-- Pages -->
    <div class="page-list-container__item d-flex align-items-center p-10 px-15 justify-content-between" style="position: relative;">
      <div style="position: absolute; top: 0; left: 0; right: 135px; bottom: 0;" (click)="togglePage(i)"></div>
      <div class="d-flex"  >
        <h4>{{ item.ProfilePage.Name }} </h4> 
        <span *ngIf="item.ProfilePage.IsFrontpage" class="highlighted"><i class="las la-home"></i></span>
      </div>
      <span class="sections-amount highlighted" *ngIf="i != currentSelectedPage" [ngClass]="{'green': item.Sections.length > 0, 'red': item.Sections.length == 0}"> {{ item.Sections.length }} sektion{{ item.Sections.length == 1 ? '' : 'er' }}</span>
      <div *ngIf="i == currentSelectedPage && currentSelectedSection == null" class="action-buttons">
        <span class="highlighted add" (click)="item.showAddNewSection = !item.showAddNewSection"><i class="las la-plus"></i></span>
        <span class="highlighted edit"><i class="las la-pencil-alt"></i></span>
        <span class="highlighted delete"><i class="las la-trash"></i></span>
      </div>
    </div>

    <div class="sections" *ngIf="item.showAddNewSection">
      <create-section-button (onSubmit)="onCreateNewSection($event, item)"></create-section-button>
      <!-- <div class="p-10 px-15">
        <div class="d-flex justify-content-between">
          <sl-input [icon]="'las la-tag'" [placeholder]="'Navn på sektion'" [value]="newPageSectionName" (valueChange)="newPageSectionName = $event"></sl-input>
          <div class="d-flex">
            <sl-button title="Gem" (onClick)="createNewSection(item)" style="margin-right: 10px;"></sl-button>
            <sl-button title="Annuller" type="outline" (onClick)="item.showAddNewSection = false"></sl-button>
          </div>
        </div>      
      </div> -->
    </div>

    <!-- Page Sections -->
    <div *ngIf="i == currentSelectedPage" class="sections">
      <ng-container *ngIf="item.Sections.length > 0">
        <div class="p-10 px-15 sections__item" *ngFor="let section of item.Sections" (click)="toggleSection(section)" [ngClass]="{'active' : section.ProfilePageSectionId == currentSelectedSection}">
          <div class="d-flex justify-content-between" style="width: 100%;">
            <span>{{ section.Name }}</span>

            <div *ngIf="section.ProfilePageSectionId == currentSelectedSection" class="action-buttons">
              <span class="highlighted edit"><i class="las la-pencil-alt"></i></span>
              <span class="highlighted delete"><i class="las la-trash"></i></span>
            </div>
          </div>

          <div *ngIf="section.ProfilePageSectionId == currentSelectedSection" class="sections__item__details">
          </div>
        </div>

      </ng-container>
      <ng-container *ngIf="item.Sections.length == 0">
        <div class="p-10 px-15">Der er ingen sektioner på denne side.</div>
      </ng-container>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="loading-container d-flex justify-content-center align-items-center" style="width: 100%; height: 100%;">
  <sl-loading></sl-loading>
</div>

<ng-template #modalTemplate>
  <div>This is our custom modal content</div>
</ng-template>