<div class="create-section d-flex justify-content-center align-items-center rounded-8" [ngClass]="{'full-border': createStep !== 0}">
  <div *ngIf="createStep === 0" class="d-flex">
    <sl-input [icon]="'las la-tag'" [placeholder]="'Navn på sektion'"></sl-input>
    <sl-button (onClick)="createStep = 1" title="Videre"></sl-button>
  </div>
  <div class="choose-type d-flex" *ngIf="createStep === 1">
    <div class="choose-type__item d-flex flex-column justify-content-center align-items-center rounded-8" (click)="onImageClick()">
      <div class="choose-type__item--horisontal d-flex" style="gap: 4px;">
        <div class="horisontal-item"></div>
        <div class="horisontal-item"></div>
        <div class="horisontal-item"></div>
      </div>
      <span>Horisontal</span>
    </div>
    <div class="choose-type__item d-flex flex-column justify-content-center align-items-center rounded-8" (click)="onImageClick()">
      <div class="choose-type__item--grid d-flex" style="gap: 4px;">
        <div class="grid-item"></div>
        <div class="grid-item"></div>
      </div>
      <div class="choose-type__item--grid d-flex" style="gap: 4px;">
        <div class="grid-item"></div>
        <div class="grid-item"></div>
      </div>
      <span>Grid</span>
    </div>
  </div>

  <div *ngIf="createStep === 4" class="d-flex" style="gap: 20px;">
    <sl-button type="secondary" (onClick)="createStep = 1" title="Tilbage"></sl-button>
    <sl-dropdown [title]="'Vælg produktgruppe'" [icon]="'las la-boxes'" [options]="productGroupOptions"></sl-dropdown>
  </div>
</div>