<div class="create-section d-flex justify-content-center align-items-center" [ngClass]="{'full-border': createStep !== 0}">
  <div class="d-flex g-30">
    <sl-input [icon]="'las la-tag'" [placeholder]="'Navn på sektion'" [value]="createSectionModel.Name" (valueChange)="createSectionModel.Name = $event"></sl-input>
    <sl-button title="Videre"></sl-button>
  </div>
  <div class="d-flex flex-column" style="width: 100%;">
    <h4>Vælg sektionens type</h4>
    <h5>Produktgrupper</h5>
    <div class="choose-type d-flex">
      <div class="choose-type__item d-flex flex-column justify-content-center align-items-center rounded-8" (click)="onProductGroupClick(true)">
        <div class="choose-type__item--horisontal d-flex" style="gap: 4px;">
          <div class="horisontal-item"></div>
          <div class="horisontal-item"></div>
          <div class="horisontal-item"></div>
        </div>
        <span>Horisontal</span>
      </div>
      <div class="choose-type__item d-flex flex-column justify-content-center align-items-center rounded-8" (click)="onProductGroupClick(false)">
        <div class="choose-type__item--grid d-flex" style="gap: 4px;">
          <div class="grid-item"></div>
          <div class="grid-item"></div>
        </div>
        <div class="choose-type__item--grid d-flex" style="gap: 4px;">
          <div class="grid-item"></div>
          <div class="grid-item"></div>
        </div>
        <span>Grid</span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column" style="width: 100%;">
    <h4>Vælg produktgruppe</h4>

    <sl-dropdown [title]="'Vælg produktgruppe'" [icon]="'las la-boxes'" [options]="productGroupOptions" (onOptionClicked)="onProductGroupChange($event)"></sl-dropdown>
    <sl-margin [px]="20"></sl-margin>
    <div class="d-flex justify-content-between" style="gap: 20px; width: 100%;">
      <sl-button type="secondary" title="Tilbage"></sl-button>
      <sl-button (onClick)="onSubmitNewSection()" title="Gem"></sl-button>
    </div>
    
  </div>
</div>