@use '../../../../theme.scss' as *;

.create-section {
  height: 110px;
  border: 2px dashed rgb(184, 184, 184);
  cursor: pointer;

  &:hover {
    border-color: var(--company-color);
  }

  &.full-border {
    border: 2px solid var(--company-color);
  }

  .choose-type {
    width: 100%;
    margin: 0 20px;
    gap: 10px;

    &__item {
      min-height: 90px;
      min-width: 90px;
      max-width: 90px;
      max-height: 90px;
      background-color: #E6E6E6;
      color: #434343;

      span {
        font-size: 13px;
        font-weight: 500;
        margin-top: 5px;
      }

      &--horisontal {
        margin-bottom: 5px;
        margin-top: 8px;

        .horisontal-item {
          width: 15px;
          height: 20px;
          background-color: #D4D4D4;
          border-radius: 2px;
        }
      }

      &--grid {
        .grid-item {
          width: 15px;
          height: 15px;
          background-color: #D4D4D4;
          border-radius: 2px;
          margin-bottom: 4px;
        }
      }
    }
  }
}