@use '../../../../theme.scss' as *;

.create-section {
  height: 110px;
  border: 2px dashed rgb(184, 184, 184);
  cursor: pointer;

  &:hover {
    border-color: $company-color;
  }

  &.full-border {
    border: 2px solid $company-color;
  }

  .choose-type {
    width: 100%;
    margin: 0 20px;
    gap: 20px;

    &__item {
      height: 70px;
      background-color: $secondary-company-color;
      color: $secondary-text-color;
      flex: 1;
    }
  }
}