.profile-container {
  width: 100%;
  gap: 30px;

  h3 {
    margin-bottom: 20px;
  }

  &__item {
    margin-top: 20px;
    flex: 1;
    background: white;
  }

  sl-input {
    width: 100%;
    margin-bottom: 30px;
  }

  h4 {
    margin-bottom: 10px;
  }
}

sl-dropdown {
  width: 100%;
}

sl-button {
  width: 20%;
}