:root {
  --company-color: #5786d1;
  --company-color-dark: #3c66aa;
  --text-on-company-color: #ffffff;

  --secondary-company-color: #22cc7c;
  --secondary-text-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  font-family: source-sans-pro, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(242 242 242);
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-ExtraLight.otf') format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-Semibold.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-Bold.otf') format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-Black.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #282828;
  font-weight: 500;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.round-container {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid rgb(228, 228, 228);
}

.rounded-6 {
  border-radius: 6px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-12 {
  border-radius: 12px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

// Table

table {
  width: 100%;
  border-collapse: collapse;

  tr {
    width: 100%;
    border-bottom: 1px solid rgb(206, 206, 206);
  }

  tr:nth-child(1) {
    border: 0;
  }

  th, td {
    text-align: left;
    padding: 4px;

    img {
      width: 50px;
      height: 50px;
    }
  }
}


