* {
  margin: 0;
  padding: 0;
  font-family: source-sans-pro, sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-ExtraLight.otf') format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-Semibold.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-Bold.otf') format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: source-sans-pro;
  src: url('../src/assets/fonts/SourceSansPro-Black.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #282828;
  font-weight: 500;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}