<div class="profile-list-item__container" [style.background-color]="backgroundColor">
  <div class="profile-list-item__header">
    <div class="profile-list-item__header--left">
      <div class="image-container" [ngStyle]="{ 'background-image': 'url(' + (profileMedia | media) + ')' }">
        <img src="" alt="">
      </div>
    </div>
    <div class="profile-list-item__header--right" [style.color]="textColor">
      <span class="profile-name">{{ profileName }}</span>
      <span class="profile-bio">{{ bio }}</span>
    </div>
  </div>
  <div class="profile-list-item__content">
    @for (item of products; track $index) {
      <div class="product" [ngStyle]="{ 'background-image': 'url(' + (item.ProductMedia | media) + ')' }">
      </div>
    }
  </div>
</div>