.profile-container {
  width: 100%;
  gap: 30px;

  h3 {
    margin-bottom: 20px;
  }

  &__item {
    flex: 1;
    background: white;
  }

  .create-section {
    height: 110px;
    border: 2px dashed rgb(184, 184, 184);
    cursor: pointer;

    &:hover {
      border-color: #E53F45;
    }
  }

  .preview-container {
    background: red;
    height: 700px;
    width: 393px;
    margin: 0 auto;
    border: 2px solid black;
    background-color: #F8F8F8;
  }
}