<h2>Profil</h2>
<div class="d-flex justify-content-between align-items-center">
  <sl-tab-rounded [tabOptions]="tabs" (onTabChanged)="onTabClick($event)"></sl-tab-rounded>
  <sl-loading *ngIf="isLoadingUpdate"></sl-loading>
  <sl-button  *ngIf="!isLoadingUpdate" [type]="'secondary'" [title]="'Gem ændringer'" (onClick)="onSubmitUpdate()"></sl-button>
</div>

<div class="profile-container d-flex">
  <div *ngIf="currentTab == 'Sider'" class="profile-container__item round-container">
    <profile-pages (onPageSelect)="selectedPage = $event"></profile-pages>
  </div>
  <div *ngIf="currentTab == 'Farver'" class="profile-container__item round-container">
    <h3>Farver</h3>
    <sl-color-picker 
      [icon]="'las la-brush'" 
      [label]="'Virksomhedsfarve'" 
      [color]="profileModel.CompanyHexColor"
      (valueChange)="profileModel.CompanyHexColor = $event">
    </sl-color-picker>

    <sl-margin [px]="30"></sl-margin>

    <sl-color-picker 
      [icon]="'las la-brush'" 
      [label]="'Tekst på virksomhedsfarve'" 
      [color]="profileModel.TextOnCompanyHexColor"
      (valueChange)="profileModel.TextOnCompanyHexColor = $event">
    </sl-color-picker>

    <sl-margin [px]="30"></sl-margin>

    <sl-color-picker 
      [icon]="'las la-brush'" 
      [label]="'Mørk virksomhedsfarve'" 
      [color]="profileModel.DarkCompanyHexColor"
      (valueChange)="profileModel.DarkCompanyHexColor = $event">
    </sl-color-picker>

    <sl-margin [px]="30"></sl-margin>

    <sl-color-picker 
      [icon]="'las la-brush'" 
      [label]="'Tekst på mørk virksomhedsfarve'" 
      [color]="profileModel.TextOnDarkCompanyHexColor"
      (valueChange)="profileModel.TextOnDarkCompanyHexColor = $event">
    </sl-color-picker>

    <sl-margin [px]="30"></sl-margin>
    <sl-color-picker 
      [icon]="'las la-brush'" 
      [label]="'Sekundær virksomhedsfarve'" 
      [color]="profileModel.SecondaryCompanyHexColor"
      (valueChange)="profileModel.SecondaryCompanyHexColor = $event">
    </sl-color-picker>

    <sl-margin [px]="30"></sl-margin>

    <sl-color-picker 
      [icon]="'las la-brush'" 
      [label]="'Tekst på sekundær virksomhedsfarve'" 
      [color]="profileModel.TextOnSecondaryCompanyHexColor"
      (valueChange)="profileModel.TextOnSecondaryCompanyHexColor = $event">
    </sl-color-picker>
  </div>

  <div *ngIf="currentTab == 'Tekster'" class="profile-container__item round-container">
    <h3>Tekster</h3>
    <sl-input name="product-name" label="Profilnavn" [value]="profileModel.Name" (valueChange)="profileModel.Name = $event"></sl-input>
    <sl-margin [px]="30"></sl-margin>
    <sl-input name="product-name" label="Bio" [value]="profileModel.Bio" (valueChange)="profileModel.Bio = $event"></sl-input>
  </div>

  <div [hidden]="currentTab !== 'Billeder'" class="profile-container__item round-container">
    <h3>Billeder</h3>
    <sl-media-picker [label]="'Profilbillede'" [mediaId]="isLoadingProfile ? null : profileModel.ProfileMediaId" (valueChange)="profileModel.ProfileMediaId = $event"></sl-media-picker>
    <sl-margin [px]="30"></sl-margin>
    <sl-media-picker [label]="'Coverbillede'" [mediaId]="isLoadingProfile ? null : profileModel.CoverMediaId" (valueChange)="profileModel.CoverMediaId = $event"></sl-media-picker>
  </div>
  <div class="profile-container__item round-container">
    <h3>Preview</h3>
    <sl-profile-preview [pageToShow]="selectedPage" [profileMediaId]="profileModel.ProfileMediaId" [coverMediaId]="profileModel.CoverMediaId" [profileName]="profileModel.Name" [bio]="profileModel.Bio"></sl-profile-preview>
  </div>
</div>