<h2>Profil</h2>
<tab-rounded [tabOptions]="tabs" (onTabChanged)="onTabClick($event)"></tab-rounded>

<div class="profile-container d-flex">
  <div *ngIf="currentTab == 'Profilen'" class="profile-container__item round-container">
    <h3>Profilsektioner</h3>
    <create-section-button></create-section-button>
  </div>
  <div *ngIf="currentTab == 'Farver'" class="profile-container__item round-container">
    <h3>Farver</h3>
  </div>
  <div class="profile-container__item round-container">
    <h3>Preview</h3>
    <div class="preview-container rounded-12">

    </div>
  </div>
</div>