<button (click)="onButtonClick()" 
        class="sl-button rounded-6 align-items-center"
        [ngClass]="{
          'primary': type === 'primary',
          'secondary': type === 'secondary',
          'outline': type === 'outline',
          'danger': type === 'danger',
          'disabled': disabled === true
        }"
        [disabled]="disabled">
  <ng-container *ngIf="!isLoading">{{ title }}</ng-container>
  <ng-container *ngIf="isLoading"><sl-loading></sl-loading></ng-container>
</button>