@use '../../../../theme.scss' as *;

.sl-button {
  height: 40px;
  padding: 0 25px;
  background-color: var(--company-color);
  color: var(--text-on-company-color);
  border: 0;
  font-size: 1rem;
  transition: opacity 0.3s ease;
  cursor: pointer;
  border: 1px solid var(--company-color);
  transition: background-color 0.3s;
  width: 100%;

  &.disabled {
    background-color: rgb(216, 216, 216);
    color: rgb(158, 158, 158);
    border: none;

    &:hover {
      opacity: 1;
      cursor: not-allowed;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &.outline {
    border: 1px solid var(--company-color);
    background-color: unset;
    color: var(--company-color);
    font-weight: 500;
    box-sizing: border-box;
  }

  &.secondary {
    background-color: var(--secondary-company-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--secondary-company-color);
  }
  
}