<div class="sellino-desktop-container">
  <div class="sidebar">
    <div class="sidebar__header">
      <h4>Sellino</h4>
      <h5>Backoffice</h5>
    </div>

    <div class="sidebar__navigation">
      <nav>
        <ul>
          <li>
            <a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"><i class="las la-cubes"></i>Produkter</a>
          </li>
          <li>
            <a [routerLink]="['profile']" [routerLinkActive]="['active']"><i class="las la-store-alt"></i>Profil</a>
          </li>
          <li>
            <a [routerLink]="['ordrer']" [routerLinkActive]="['active']"><i class="las la-clipboard-list"></i>Ordrer</a>
          </li>
          <li>
            <a [routerLink]="['insights']" [routerLinkActive]="['active']"><i class="las la-chart-bar"></i>Indsigt</a>
          </li>
          <li>
            <a [routerLink]="['categories']" [routerLinkActive]="['active']"><i class="las la-tags"></i>Kategorier</a>
          </li>
          <li>
            <a href=""><i class="las la-comments"></i>Beskeder</a>
          </li>
          <li>
            <a href=""><i class="las la-users-cog"></i>Brugere</a>
          </li>
          <li>
            <a href="" (click)="LogOut()"><i class="las la-sign-out-alt"></i>Log ud</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main-container">
    <div class="main-container__header">
      <div class="left d-flex align-items-center">
        <div class="company-logo shadow-subtle" *ngIf="profileImage != null" [ngStyle]="{ 'background-image': 'url(' + profileImage + ')' }"></div>
        <h3>{{ homeModel.Profile.Name }}</h3>
      </div>
      <div class="right">
        <div class="d-flex align-items-center">
        <!-- <i class="las la-bell" style="font-size: 30px;"></i> -->
        <i class="las la-user-circle" style="font-size: 30px;"></i>
        {{ homeModel.FirstName }}
      </div>
      </div>
    </div>
    <div class="main-container__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <mobile-tabbar></mobile-tabbar> -->