@use '../../../theme.scss' as *;

.las {
  font-size: 21px;
    margin-right: 10px;
}

.sellino-desktop-container {
  display: flex;
}

.sidebar {
  background-color: var(--company-color);
  width: 300px;
  height: auto;

  &__header {
    padding: 30px;

    h4, h5 {
      color: var(--text-on-company-color);
      font-size: 24px;
      font-weight: 500;
    }

    h5 {
      font-size: 12px;
      font-weight: 300;
    }
  }

  &__navigation {
    a {
      display: block;
      color: var(--text-on-company-color);
      width: 300px;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 30px;
      text-decoration: none;
      transition: background 0.2s;

      &.active {
        background: var(--company-color-dark);
      }

      &:hover {
        background: rgba(var(--company-color-dark), 0.4);
      }

      &.active:hover {
        background: var(--company-color-dark);
      }

      i {
        color: var(--text-on-company-color);
      }
    }
  }
}

.main-container {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 0px 20px 0px;
  min-height: calc(100vh);

  &__header {
    width: 100%;
    height: 70px;
    background: white;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .company-logo {
      background-image: url('../../../assets/images/Logo.png');
      height: 40px;
      width: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 100%;
      margin-right: 15px;
    }

    h3 {
      font-size: 16px;
    }
  }

  &__content {
    padding: 30px;
  }
}