<div class="story-list-container">
  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>HGDG</span>
  </div>

  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Moonboon</span>
  </div>

  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Rezet Store</span>
  </div>

  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Soundboks</span>
  </div>
  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Soundboks</span>
  </div>
  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Soundboks</span>
  </div>
  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Soundboks</span>
  </div>
</div>