<div class="story-list-container">
  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Keramikbutikken</span>
  </div>

  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>MALA</span>
  </div>

  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Butik 3</span>
  </div>

  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Butik 4</span>
  </div>
  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Butik 5</span>
  </div>
  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Butik 6</span>
  </div>
  <div class="story-list-item">
    <div class="story-list-circle">
      <div class="story-list-image"></div>
    </div>
    <span>Butik 7</span>
  </div>
</div>