<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/dbc9f069-df1a-4017-9982-83924352b1e3/resourceGroups/Frederik/providers/Microsoft.ApiManagement/service/Sellinowebapi/apis/SellinoAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/dbc9f069-df1a-4017-9982-83924352b1e3/resourcegroups/Frederik/providers/Microsoft.Web/sites/sellinowebapi</ResourceId>
    <ResourceGroup>Frederik</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sellinowebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ebf720f9-016a-4f2b-85c3-6d8b5e17c39e</ProjectGuid>
    <PublishUrl>https://sellinowebapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$sellinowebapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>