<div class="product-group-horizontal-container">
    <h3 *ngIf="headline == ''" [ngStyle]="{'color': headlineColor}">{{ productGroup.ProductGroup?.Name }}</h3>
    <h3 *ngIf="headline != ''" [ngStyle]="{'color': headlineColor}">{{ headline }}</h3>
    <div class="product-group-horizontal" *ngIf="!isLoading">
      <div class="product-group-inner">
        <div class="product-group-item" *ngFor="let item of productGroup.Products" [ngStyle]="{ 'background-image': 'url(' + (item.ProductMedia | media) + ')' }">
            <div class="product-group-item-inner">
                  <!-- <img src="{{item.profileImg}}">
                  <div class="size" *ngIf="item.size">{{ item.size }}</div> -->
                  <!-- <p>{{ item.title }}</p> -->
            </div> 
          </div>
      </div> 
    </div>
    <div class="w-100 d-flex justify-content-center" *ngIf="isLoading">
      <sl-loading [color]="loadingColor"></sl-loading>
    </div>
</div>