.profile-container {
  width: 100%;
  gap: 30px;

  table {
    margin-top: 30px;

    tr {
      cursor: pointer;
    }
  }

  h3 {
    margin-bottom: 20px;
  }

  &__item {
    flex: 1;
    background: white;
  }

  .status {
    background: rgb(23, 233, 135);
    width: fit-content;
    padding: 3px 10px;
    color: rgb(14, 91, 14);
    border-radius: 20px;

    &.inactive {
      background: rgb(255, 132, 132);
      color: rgb(93, 10, 10);
    }
  }
}