<h2>Produkter</h2>

<div class="d-flex justify-content-between align-items-center">
  <tab-rounded [tabOptions]="tabs" (onTabChanged)="onTabClick($event)"></tab-rounded>
  <sl-button [title]="'Tilføj produkt'" type="secondary" [routerLink]="['add-product']"></sl-button>
</div>

<div class="profile-container d-flex" *ngIf="currentTab == 'Produkter'">
  <div class="profile-container__item round-container">
    <div class="d-flex justify-content-between">
      <span *ngIf="productList.length == 0">Der findes endnu ingen produkter på denne profil.</span>
      <!-- <sl-dropdown [title]="'Sorter efter'"></sl-dropdown> -->
    </div>
    <table cellspacing="0" cellpadding="0" *ngIf="productList.length > 0">
      <tr>
        <th>Billede</th>
        <th>Product</th>
        <!-- <th>Lager</th> -->
        <th>Status</th>
        <!-- <th>Actions</th> -->
      </tr>
      <tr *ngFor="let product of productList">
        <td><img [src]="product.ProductMedia | media" alt=""></td>
        <td>{{ product.Name }}</td>
        <!-- <td>231</td> -->
        <td><div class="status">Aktiv</div></td>
        <!-- <td>Rediger</td> -->
      </tr>
    </table>
    <sl-margin [px]="20"></sl-margin>
  </div>
</div>

<product-group-list *ngIf="currentTab == 'Produktgrupper'"></product-group-list>