.profile-container {
  width: 100%;
  gap: 30px;

  table {
    margin-top: 30px;

    tr {
      cursor: pointer;
    }
  }

  h3 {
    margin-bottom: 20px;
  }

  &__item {
    flex: 1;
    background: white;
  }

  .status {
    background: rgb(23, 233, 135);
    width: fit-content;
    padding: 3px 10px;
    color: rgb(14, 91, 14);
    border-radius: 20px;

    &.inactive {
      background: rgb(255, 132, 132);
      color: rgb(93, 10, 10);
    }
  }
}

.list-item {
  height: 40px;
  display: flex;
  border: 1px solid #c7c7c7;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 10px;
}

product-group-list {
  display: flex;
  gap: 30px;
}

img {
  transition: transform 0.1s;
  border-radius: 2px;
}

img:hover {
  transform: scale(4);
  box-shadow: rgba(149, 157, 165, 0.2 ) 0px 0px 3px;
}