<label *ngIf="label">{{ label }}</label>
<div class="wrapper" [ngClass]="{'active shadow' : dropdownIsOpen}">
  <div class="sl-dropdown rounded-6 d-flex align-items-center">
    <div *ngIf="icon !== ''" class="sl-dropdown__icon d-flex align-items-center justify-content-center">
      <i [ngClass]="icon"></i>
    </div>
    <div class="sl-dropdown__title d-flex align-items-center justify-content-between" (click)="onDropdownClick()">
      <span>{{ title }}</span>
      <div class="chevron d-flex align-items-center">
        <i class="las la-angle-down"></i>
      </div>
    </div>
  </div>

  <div class="sl-dropdown-content shadow rounded-6" *ngIf="dropdownIsOpen">
    <ng-container *ngIf="options.length > 0">
      <div class="sl-dropdown-content__item" *ngFor="let item of options" (click)="onContentItemClick(item)">
        <span>{{ item.Title }}</span>
      </div>
    </ng-container>

    <ng-container *ngIf="options.length == 0">
      <div class="sl-dropdown-content__item">
        <span>Ingen options</span>
      </div>
    </ng-container>

  </div>
</div>