<div class="home-component">
  <h1 class="p-20">Sellino</h1>
  
  <story-list></story-list>

  <div class="image-carousel-container p-20">
    <h3>Nyeste trends</h3>
    <image-carousel></image-carousel>
  </div>

  <div class="p-20">
    <h3>Udforsk profiler</h3>
    @for (item of profiles; track $index) {
      <profile-list-item 
        [routerLink]="['profile', item.Profile.ProfileToken]"
        profileName="{{item.Profile.Name}}" 
        bio="{{item.Profile.Bio}}" 
        backgroundColor="{{item.Profile.CompanyHexColor}}" 
        textColor="{{item.Profile.TextOnCompanyHexColor}}"
        [products]="item.Products">
      </profile-list-item>
    }
  </div>
</div>