.checkout-container {
  width: 100vw;
  height: 100vh;

  .order-confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .back-button {
    position: absolute;
    color: white;
    min-height: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--secondary-company-color);
    color: var(--secondary-text-color);
    z-index: 9;
  }

  .header {
    position: relative;
    background-color: var(--company-color);
    padding: 25px;
    width: 100%;

    h2{
      color: var(--text-on-company-color);
    }

    .speech {
      position: relative;
      background-color: white;
      padding: 10px 16px;
      font-size: 13px;
      align-items: center;
      border-radius: 5px;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% - 1px);        
        margin-top: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent white;
      }
    }

    .profile-image {
      min-height: 67px;
      max-height: 67px;
      min-width: 67px;
      max-width: 67px;
      border-radius: 100%;
      background-size: contain;
      background-position: center;
    }
  }

  .content {
    padding: 25px;

    .right-align {
      text-align: right;
    }

    .total-amount {
      padding: 4px;
    }

    table {
      tr {
        border-bottom: 0;
      } 

      td:first-child{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;      
      }
    }

    hr {
      margin: 30px 0;
      border: 1px solid #D8D8D8;    
    }
  }
}
