<div class="product-group-grid-container">
  <h3>{{ headline }}</h3>
  <!-- <h5>Subtitle</h5> -->
  <div class="flex-container" *ngFor="let container of itemsToShow">
    <div class="d-flex flex-column" style="width: 100%;" *ngFor="let item of container">
      <div class="flex-item" [ngStyle]="{ 'background-image': 'url(' + (item.ProductMedia | media) + ')' }">

      </div>
      <div class="text-container d-flex flex-column">
        <span class="ellipsis productgroup">{{ headline }}</span>
        <span class="ellipsis name">{{ item.Name }}</span>
        <span class="ellipsis price">DKK {{ item.Price }}</span>
      </div>
    </div>
  </div>
</div>